.timer{
    color: #6abf40;
}

.card-group{
    margin: 3px;
}
body {
	font-family:"Lucida Sans Unicode", sans-serif;
	background-color:black;
	min-height:100vh;
	overflow-x:hidden;
	font-size:13px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
h1{ 
	vertical-align: text-top 
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link{
	color: white;
}

	
