.timer{
    color: #4cc012;
}

.card-group{
    margin: 3px;
    color: black;
}
.tytul{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  background-color:rgb(60, 63, 65);
      height: 50px;
      
  
}
body {
	font-family:"Lucida Sans Unicode", sans-serif;
	background-color:rgb(0, 0, 0);
	overflow-x:hidden;
	font-size:13px;
  min-height:100vh;
  max-width: 1920px;
  max-height: 1080px;
  
  
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
g1{
  position: absolute; bottom: 25%; left: 38%;
  font-size:30px;
  
 }
g2{
 position: absolute; bottom: 24%; right: 22%;
 font-size:30px;
 
 }
 g3{
     position: absolute; top: 27%; left: 7%;
 }
 l1{
  position: absolute; top: 30%; right: 23%;
 }
 l2{
  position: absolute; top: 12%; left: 5%;
 }
 l3{
  position: absolute; bottom: 25%; left: 32%;
  font-size:30px;
 }

f1{
  position: absolute; top: 1%; left: 21%;
}
	f2{
    position: absolute; top: 13%; left: 20%;
  }
f3{
  position: absolute; top: 0%; left: 43%;
}
f4{
 padding: 1px;
}
d1{
  position: absolute; top: 15%; left: 11%;
}
d2{
  position: absolute; top: 350px; left: 625px;
  
}
d3{
  position: absolute; top: 30%; right: 32%;
}
d4{
  position: absolute; top: 30%; right: 10%;
}
d5{
  position: absolute; top: 35%; right: 10%;
}
mld1{
  position: absolute; top: 16%; left: 33%;
}
mld2{
  position: absolute; top: 50%; left: 33%;
}
mld3{
  position: absolute; top: 16%; left: 55%;
}
mld4{
  position: absolute; top: 50%; left: 55%;
}

#do{
  position: absolute; bottom: 24%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgb(255, 0, 0);
  width: 400px;
}
#mo{
  position: absolute; bottom: 19%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(103, 8, 141);
  width: 400px;
}
#do1{
  position: absolute; bottom: 24%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgb(84, 71, 85);
  width: 400px;
}

#mo1{
  position: absolute; bottom: 20%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(12, 161, 57);
  width: 400px;
}

#mo2{
  position: absolute; bottom: 16%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(204, 95, 190);
  width: 400px;
}
#mo3{
  position: absolute; bottom: 12%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 94, 0, 0.705);
  width: 400px;
}
#mo4{
  position: absolute; bottom: 8%; left: 6%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(224, 5, 5);
  width: 400px;
}

   

  #rcorners2{
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgba(151, 92, 24, 0.705);
  }
  #rcorners3{
    position: absolute; top: -12%; left: 25%;
    font-size:25px;
    color: white;
    text-align: center;
    border-radius: 25px;
    background:rgba(151, 92, 24, 0.705);
    width: 200px;
    }
    #Drop {
      position: absolute; top: 27%; left: 38%;
      font-size:25px;
      color: white;
      text-align: center;
      border-radius: 25px;
      background:rgba(151, 92, 24, 0.705);
      width: 8%;
    }

    #Drop2{
      position: absolute; top: 10%; left: 38%;
      font-size:25px;
      color: rgb(255, 255, 255);
      text-align: center;
      border-radius: 25px;
      background:rgb(12, 161, 57);
      width: 8%;
      
    }
    #Drop3{
      position: absolute; top: 10%; left: 60%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgb(204, 95, 190);
  width: 8%;
    }
    #Drop4{
      position: absolute; top: 45%; left: 38%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgba(255, 94, 0, 0.705);
  width: 8%;
}
  #Drop5{
    position: absolute; top: 45%; left: 60%;
font-size:25px;
color: white;
text-align: center;
border-radius: 25px;
background:rgb(224, 5, 5);
width: 8%;
  }
  #Drop6{
    position: absolute; top: 23%; left: 59%;
    font-size:25px;
    color: white;
    text-align: center;
    border-radius: 25px;
    background:rgba(151, 92, 24, 0.705);
    width: 8%;
  }
  #Drop7{
    position: absolute; top: 29%; left: 81%;
    font-size:25px;
    color: white;
    text-align: center;
    border-radius: 25px;
    background:rgba(151, 92, 24, 0.705);
    width: 8%;
  }

    #Info{
      position: absolute; bottom: 250px; left: 150px;
      font-size:25px;
      color: white;
      text-align: center;
      border-radius: 25px;
      background:rgba(151, 92, 24, 0.705);
      width: 8%;
       
    }
    .Info{
      position: absolute; bottom: 2%; left:8%;
      background-color:lightblue;
      height: 215px;
      width: 750px;  
      overflow-y: auto;
      font-size: 20px;
      color: rgb(0, 0, 0);
      padding-top: 1%;
      
      }
    #rcorners7{
      position: absolute; top: 24%; right: 11%;
      font-size:25px;
      color: white;
      text-align: center;
      border-radius: 25px;
      background:rgba(151, 92, 24, 0.705);
      width: 8%;
    }
  
  #rcorners8{
    position: absolute; top: -10%; right: 25%;
  font-size:25px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background:rgba(151, 92, 24, 0.705);
  width: 200px;
  }
  #rcorners9{
    position: absolute; top: -23%; left: 25%;
    font-size:25px;
    color: white;
    text-align: center;
    border-radius: 25px;
    background:rgba(151, 92, 24, 0.705);
    width: 200px;
    }


.rcorners{
  
    font-size:25px;
    color: white;
    text-align: center;
    border-radius: 25px;
    background:rgba(151, 92, 24, 0.705);
    width: 200px;
}
img.gray {


  transition-property: filter;
  transition-duration: 0,7s;
  transition-timing-function: linear; 
}
img.gray:hover {
  -webkit-filter: grayscale(57%); 
  filter: grayscale(57%); 
}
.sidepan img {
  margin: 0px;
  -webkit-transition: margin 0.1s ease;
     -moz-transition: margin 0.1s ease;
       -o-transition: margin 0.1s ease;
      -ms-transition: margin 0.1s ease;
          transition: margin 0.1s ease;
}
 
.sidepan img:hover {
  margin-left: -25px;
}